@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding:0;
    margin:0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
}
.hidden{
    display: none;
}
.heading{
display: flex;
justify-content: space-between;
height:8vh;
background-color: rgb(79, 79, 224);
padding: 0 2%;
border-bottom: solid 2px gray;
}
.left-heading{
    display: flex;
   justify-content: center;
   align-items: center;
height: inherit;
}
.logo{
    height:inherit;
    padding-right: 1rem;
    }
    .logo img{
        height: 100%;
        border-radius: 50%;
    }
.right-heading{
    display:flex;
    padding:0;
    justify-content: center;
     align-items: center;
    height: inherit;
}
.login-status{
    display: flex;
    color:white;
}
.login-status *{
    padding-right: 1rem;
}
.search-form{
    display: flex;
}
input[type="search"],input[type="submit"]{
    padding :5px 10px; 
    margin-right: 10px;
}
.navigation{
    background-color:  rgb(79, 79, 224);
    height: 8vh;
}
